.menu-option {
    display: block;
}

.navigation {
    min-height: 58px !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.main-container {
    height: calc(100% - 100px);
}

.menu-optionsgroup-left {
    text-align: left;
    float:left;
}

.menu-optionsgroup-right {
    text-align: right;
    float:right;
}

a.button-link {
    border: 1px solid black;
    padding: 2px;
    text-decoration: none;
    color: black !important;
}

.tutorial {
}

.desc-area {
    resize: none;
}

.tutorials-table tr:hover {
    cursor:pointer;
}

.card-home:hover {
    cursor: pointer;
    opacity: 0.9;
}
.section {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.section-header:hover {
    cursor: pointer;
}

.section:hover {
    border: 1px solid lightblue;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-darkgray {
    color: rgb(53, 53, 53)
}

.disabled {
    color: #585858;
    text-decoration: none;
}

.disabled:hover {
    cursor: default;
    color: #585858;
}

.btn-add-topic {
    background-color:aqua;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    border: 1px solid blue;
    color: darkgray;
    text-decoration: none;
}

.btn-add-topic:hover {
    cursor: pointer;
}